.info__contacts {
    max-width: 700px;
    width: 100%;
    padding: 100px 165px 111.3px 103px;
    border: 1px solid red;
    background-color: #F9F9F9;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
}