.page {
    background-color: rgba(252, 252, 252, 1);
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    position: relative;
    height: 100%;
}