.news {
    height: 976px;
    max-width: 1521px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 180px;
}

@media (max-width: 1460px) {
    .news {
        height: 100%;
    }
}

@media (max-width: 610px) {
    .news {
        height: 1243px;
        padding: 0 15px;
        width: calc(100% - 30px);
        margin-bottom: 120px;
    }
}