.footer__item_title {
    color: #292D32;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 15px 0;
}

@media (max-width: 900px) {
    .footer__item_title {
        font-size: 18px;
    }
}