.news__element_subtitle {
    position: relative;
    z-index: 5;
    margin: 0;
    color: #292D32;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}