.advantages__main-img {
    position: absolute;
    top: 87px;
    left: 179px;
    width: 874px;
    height: 492px;
}

@media (max-width: 1080px) {
    .advantages__main-img {
        width: 345px;
        height: 194px;
        top: 283px;
        left: 76px;
    }
}