.news__element_title {
    position: relative;
    z-index: 5;
    margin: 0 0 11px 0;
    width: 268px;

    color: #292D32;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
}