.news__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 415px));
    grid-auto-rows: 368px;
    column-gap: 65px;
    row-gap: 35px;
    justify-content: center;
}

@media (max-width: 610px) {
    .news__items {
        padding: 0 15px;
        width: calc(100% - 30px);
        justify-content: center;
        grid-auto-rows: 293px;
        row-gap:20px;
    }
}