.info {
    width: 100%;
    height: 1022px;
    position: relative;
}

@media (max-width: 1375px) {
    .info {
        height: 100%;
    }
}

@media (max-width: 610px) {
    .info {
        height: 1181px;
    }
}