.firstscreen__offer_title {
    margin: 0;
    color: #292D32;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    max-width: 181px;
    width: 100%;
}

@media (max-width: 1610px) {
    .firstscreen__offer_title  {
        /* align-items: center; */
        height: 196px;
        font-size: 20px;
        display: flex;
        align-items: center;
        width: 136px;
        padding-left: 15px;
        /* justify-content: center; */
    }
}