.footer__down_title {
    color: #838383;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.687%;
    margin: 0 0 11px 0;
}

@media (max-width: 1460px) {
    .footer__down_title {
        font-size: 15px;
        margin: 0;
    }
}