.advantages__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 345px));
    grid-auto-rows: 289px;
    gap: 27px;
    justify-content: center;
}

@media (max-width: 610px) {
    .advantages__items {
        grid-auto-rows: 214px;
        gap: 17px;
    }
}