.news__element_number {
    margin: 0 0 8px 0;
    color: #292D32;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}