.firstscreen__more-details_text {
    margin: 0;
    color: #292D32;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}

@media (max-width: 610px) {
    .firstscreen__more-details_text {
        font-size: 15px;
    }
}