.info__contacts_name {
    color: #838383;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.687%; /* 24.064px */
    margin: 0 0 0 8px;
    display: flex;
    align-items: center;
    margin-top: 8px;
}


@media (max-width: 610px) {
    .info__contacts_name {
        font-size: 15px;
        margin: 0;    
    }
}