.advantages {
    width: 100%;
    height: 962px;
    background-color: #F2F2F2;
    background-image: url('../../images/bestquality.svg');
    background-repeat: no-repeat;
    background-position: top 152px left 0;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 172px;
}


@media (max-width: 1460px) {
    .advantages {
        height: 1251px;
    }
}

@media (max-width: 1030px) {
    .advantages {
        height: 1546px;
    }
}

@media (max-width: 610px) {
    .advantages {
        overflow: hidden;
        background-position: top 373px left 14px;
        background-size: 335px 121px;
        margin-bottom: 120px;
    }
}