.news__text_subtitle {
    color: var(--Unnamed-Color, #838383);
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; 
    margin: 0;
    max-width: 721px;
}

@media (max-width: 610px) {
    .news__text_subtitle {
        font-size: 15px;
        margin-bottom: 30px;
    }
}