.advantages__element_title {
    color: #FFF;
    font-family: 'Euclid Circular A';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 276px;
    margin: 0 0 13px 0;
}