.advantages__text_subtitle {
    color: var(--Unnamed-Color, #838383);
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    margin: 0 0 41px 0;
}