.firstscreen__main_scroll-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 25px;
    padding: 357px 0 158px 263px;
    gap: 16.5px;
    align-items: center;
}

@media (max-width: 1610px) {
    .firstscreen__main_scroll-container {
        /* padding: 100px 0 158px 15px; */
        display: none;
    }
}