.advantages__element_subtitle {
    color: #B7B7B7;
    font-family: 'Euclid Circular A';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}

/* @media (max-width: 610px) {
    .advantages__element_subtitle {
        font-size: 18px;
    }
} */