.firstscreen__main_title {
    margin: 0 0 60px;
    width: 400px;
    color: #292D32;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


@media (max-width: 1270px) {
    .firstscreen__main_title {
        font-size: 30px;
        margin: 0 0 28px;
    }
}