.news__container {
    display: flex;
    justify-content: space-between;
    margin: 0 0 69px 0;
}


@media (max-width: 610px) {
    .news__container {
        flex-direction: column;
        margin: 0 0 39px 0;
    }
}