.info__contacts_content {
    color: #292D32;
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    margin: 0;
    padding-left: 55px;
}

@media (max-width: 610px) {
    .info__contacts_content {
        font-size: 18px;
        width: 255px;
        padding-left: 26.97px;
    }
}